body {
  font-family: "Playfair Display", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

/* 네비게이션 바 스타일 */
.navbar {
  background-color: transparent; /* 네비게이션 바를 완전히 투명하게 */
  padding: 1rem;
  position: fixed; /* 스크롤에 따라 고정 스티키로 하면 귀찮아짐*/
  top: 0;
  width: 100%;
  z-index: 1001;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar:hover,
.navbar.scrolled,
.navbar.open {
  background-color: rgba(255, 255, 255, 1);
  color: black;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease; /* 텍스트 색상 전환 효과 */
}

.navbar:hover .logo {
  color: black;
}

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  text-decoration: none;
  color: white; /* 기본 상태에서 흰색 */
  padding: 0.5rem 1rem;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: transparent; /* 링크의 기본 배경색도 투명하게 */
  transition: color 0.3s ease;
}

.navbar:hover .nav-link,
.navbar.scrolled .nav-link,
.navbar.open .nav-link {
  color: black; /* 네비게이션 바 호버 및 드롭다운 열릴 시 링크 색상 검정 */
}

.navbar-icons {
  display: flex;
  gap: 1rem;
  margin-right: 30px;
}

.icon {
  width: 24px;
  height: 24px;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.navbar:hover .icon,
.navbar.scrolled .icon,
.navbar.open .icon {
  filter: invert(
    0
  ); /* 네비게이션 바 호버 및 드롭다운 열릴 시 아이콘 색상 검정 */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  width: auto;
  white-space: nowrap;
  font-size: 14.4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s linear 0.3s; /* visibility 속성의 전환 추가 */
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown.show .dropdown-content {
  visibility: visible; /* 보이도록 설정 */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease; /* visibility 전환 제거 */
}

/* 헤더 섹션 스타일 */
.header {
  width: 100%;
  overflow: hidden;
  position: relative;
  max-height: 842px;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  position: relative;
}

.carousel-item img {
  width: 100%;
  display: block;
  max-height: 842px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1000;
}

.carousel-control-prev img,
.carousel-control-next img {
  width: 50px;
  height: auto;
  filter: invert(1); /* 아이콘을 흰색으로 변경 */
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.carousel-caption h1 {
  font-size: clamp(2rem, 4vw, 4rem);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.carousel-caption p {
  font-size: (1rem, 2.5vw, 1.2rem);
  margin-bottom: 0;
  font-weight: 300;
}

.navbar.hover .nav-link,
.navbar.hover .logo,
.navbar.hover .icon {
  color: black !important;
  filter: invert(0) !important;
}

.new-label {
  background-color: #d1ecf1;
  color: #17a2b8;
  font-size: 10.4px;
  padding: 0.35em 0.65em;
  margin-left: 10px;
  border-radius: 3px;
  display: inline-block;
  box-sizing: border-box;
}

/* 캐러셀 인디케이터 스타일 */
.carousel-indicators {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
}

.indicator {
  width: 12px;
  height: 12px;
  background-color: gray;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.indicator.active {
  width: 16px;
  height: 16px;
  background-color: white;
}

/* 캐러셀 버튼 스타일 */
.carousel-btn {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 40px;
  transition: background-color 0.3s ease, color 0.3s ease; /* 전환 효과 */
  border: none;
  text-shadow: none;
}

/* 캐러셀 버튼 호버 효과 */
.carousel-btn:hover {
  background-color: rgb(218, 218, 218);
}

/* 메인 콘텐츠 스타일 */
.main-content {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "img1 img1 img1 img2 img2 img2"
    "img3 img3 img4 img4 img5 img5";
  gap: 10px;
}

.grid-item {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.img5 {
  grid-area: img5;
}

.overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.grid-btn {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
  text-shadow: none;
}

/* 그리드 버튼 호버 효과 */
.grid-btn:hover {
  background-color: rgb(218, 218, 218); /* 호버 시 배경 색상 변경 */
}

.img_caption1 {
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 3rem);
  margin-bottom: 10px;
  white-space: nowrap;
}

.img_caption2 {
  font-weight: 400;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-bottom: 10px;
  white-space: nowrap;
}

.grid-btn2 {
  color: white;
  text-decoration: none;
  position: relative;
}

.grid-btn2::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width 0.3s;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.grid-btn2:hover::after {
  width: 100%;
}

.grid-btn2 span {
  margin-left: 10px;
  font-size: 1.2rem;
  transition: margin-left 0.3s;
}

.grid-btn2:hover span {
  margin-left: 15px;
}

.black_caption {
  color: black;
}

/* 푸터 섹션 1 */
.footer1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  height: 240px;
}

.footer-item {
  display: flex;
  align-items: center;
  padding-right: 4vw; /* 오른쪽 패딩 추가 */
  border-right: 1px solid #000000; /* 오른쪽 구분선 */
}

.footer-item:last-child {
  border-right: none; /* 마지막 항목의 구분선 제거 */
}

.footer-item img {
  height: 50px;
  margin-right: 10px;
}

.footer-item p {
  margin: 0;
  color: #333;
  font-size: 14px;
}

.border {
  font-weight: 800;
}

/* 푸터 섹션 2 */
.footer2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  background-color: #dee2e6;
  color: #868e96;
  padding: 20px;
}

.footer-column {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* 텍스트 가운데 정렬 */
}

.footer-logo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black; /* 로고 색상 검정 */
}

.footer-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-icons img {
  width: 14px;
  height: 14px;
  filter: grayscale(100%) brightness(100%); /* 기본 상태에서 배경색과 같게 설정 */
  transition: filter 0.3s ease; /* 호버 시 부드럽게 전환 */
}

.footer-icons img:hover {
  filter: none; /* 호버 시 필터 제거 */
}

.footer-column h3 {
  font-size: 14.4px;
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.footer-column p,
.footer-column ul li a {
  font-size: 14.4px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-column ul li {
  margin-bottom: 5px;
}

.footer-column ul li a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s;
}

.footer-column ul li a:hover {
  color: #000;
}

.footer-column input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #dee2e6;
  color: #868e96;
}

/* 푸터 섹션 3 */
.footer3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80px;
  background-color: #343a40;
  padding-left: 40px;
}

.footer3 p {
  color: #dee2e6;
  font-size: 14.4px;
  margin: 0;
}

@media (max-width: 960px) {
  .navbar-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 1000;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-icons {
    display: none;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    width: 30px;
    height: 20px;
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1001;
    margin-right: 30px;
  }

  .hamburger div {
    background-color: #fff;
    height: 2px;
    margin: 5px 0;
    width: 100%;
    transition: all 0.3s ease;
  }

  .hamburger.open div {
    background-color: #000;
  }

  .navbar:hover .hamburger div {
    background-color: #000;
  }

  .hamburger.open div:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }

  .hamburger.open div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open div:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }

  .navbar {
    align-items: center;
  }
}
@media (max-width: 960px) {
  .footer-item {
    padding-right: 2vw;
  }
}
@media (max-width: 850px) {
  .footer-item {
    padding-right: 1vw;
  }
}
@media (max-width: 800px) {
  .footer-item {
    padding-right: 0vw;
  }
}

@media (max-width: 800px) {
  .footer-item {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
  }

  .footer1 {
    flex-direction: column;
    align-items: center;
    height: auto;
  }
}

@media (max-width: 850px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .grid-item {
    width: 100%;
  }

  .overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
