nav {
  background-color: #f08c8c;
  text-align: center;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
}

nav li {
  padding: 10px;
  margin: 0 15px;
  cursor: pointer;
}

nav li a {
  padding: 10px;
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav li a:hover {
  background-color: white;
  color: #f08c8c;
}
