.App {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main aside"
    "footer footer footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  gap: 10px;
}

.Header {
  grid-area: header;
}

.Footer {
  grid-area: footer;
}

.Aside {
  grid-area: aside;
}

.Main {
  grid-area: main;
}
