@font-face {
  font-family: "CustomFont";
  src: url("./font/PretendardVariable.woff2") format("truetype");
}

body {
  font-family: "CustomFont", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  margin: 0 10%; /* 왼쪽과 오른쪽 마진 설정 */
}
